scipy
bleach==3.1.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
country-bounding-boxes==0.2.3
cryptography==3.2
deprecation==2.0.7
docutils==0.16
eyeD3==0.9.4
filetype==1.0.5
idna==2.9
importlib-metadata==1.5.0
iso3166==1.0.1
jeepney==0.4.3
keyring==21.2.0
numpy==1.18.2
OSR==0.0.1
packaging==20.3
pandas==1.0.3
pkginfo==1.5.0.1
pycountry==19.8.18
pycparser==2.20
pyglet==1.1.4
Pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
six==1.14.0
tqdm==4.43.0
twine==3.1.1
urllib3==1.25.8
webencodings==0.5.1
zipp==3.1.0
